.searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}
.searchInput {
  width: 280px;
  border-radius: 8px;
  height: 28px;
  border-color: cadetblue;
  background-color: cornsilk;
  outline: none;
  margin-right: 14px;
  padding-left: 12px;
}
::placeholder {
  color: darkcyan;
}

.searchBtn {
  height: 34px;
  border-color: cadetblue;
  background-color: cornsilk;
  padding: 4px;
  width: 92px;
  color: darkcyan;
}

.searchBtn:hover {
  background-color: lightgray;
  color: azure;
}
